# Default ignored files
/workspace.xml
/dictionaries/
/sonarlint/
/markdown-navigator/
/dbnavigator.xml
/jarRepositories.xml
/markdown-navigator-enh.xml
/markdown-navigator.xml
/codeStyles/
/shelf/
